{% extends '_base.html' %}
{% load static %}


{% block body %}
    <section class="login-section">

        <div class="login-container">
            <div class="repass-banner">
                <div class="repass-txt">
                    <h2>لینک بازیابی با موفقیت به ایمیل شما ارسال شد</h2>
                    <p>لطفا جهت تکمیل فرایند بازیابی وارد ایمیل خود شوید</p>
                    <div class="login-link">
                        <a href="{% url 'accounts:login' %}">ورود به حساب کاربری</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}