{% extends '_base.html' %}
{% load static %}

{% block title %}عضویت{% endblock %}

{% block body %}
    <section class="register-section">

        <div class="register-container">
            <div class="register-form-box">
                <h2>ثبت عضویت</h2>
                <p>لطفا اطلاعات خود را وارد کنید</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% if form.username.errors %}
                        <p>{{ form.username.errors.0 }}</p>
                    {% endif %}
                    <input type="text" placeholder="نام کاربری" id="username" name="username">
                    <input type="text" placeholder="نام" id="firstname" name="firstname">
                    <input type="text" placeholder="نام خانوادگی" id="lastname" name="lastname">
                    <input type="tel"  placeholder="شماره تماس" id="tel" name="tel" autocomplete="tel">
                    {% if form.email.errors %}
                        <p>{{ form.email.errors.0 }}</p>
                    {% endif %}
                    <input type="email" placeholder="ایمیل" id="email" name="email">
                    {% if form.password2.errors %}
                        <p>{{ form.password2.errors.0 }}</p>
                    {% else %}
                    {% endif %}
                    <input type="password" placeholder="رمز عبور" id="password1" name="password1">
                    <input type="password" placeholder="تکرار رمز عبور" id="Password2" name="password2">
                    <button type="submit">
                        ایجاد حساب کاربری
                    </button>
                </form>

                <div class="login-link">
                    قبلا ثبت نام کرده‌اید؟
                    <a href="{% url 'accounts:login' %}">ورود به حساب کاربری</a>
                </div>

            </div>
            <div class="register-banner">
                <div class="register-banner-image">
                    <img src="{% static 'img/ban1.png' %}"
                         alt="خدمات تعمیریار">
                </div>
                <div class="banner-top">
                    <h2>به تعمیریار خوش آمدید!</h2>

                    <p>
                        با ثبت نام در تعمیریار، درخواست‌های تعمیر خود را
                        مدیریت و پیگیری کنید.
                    </p>
                </div>
                <div class="about-stats">
                    <div class="stat-box">
                        <span class="stat-number">1000+</span>
                        <span class="stat-title">تعمیر موفق</span>
                    </div>
                    <div class="stat-box">
                        <span class="stat-number">95%</span>
                        <span class="stat-title">رضایت مشتری</span>
                    </div>
                    <div class="stat-box">
                        <span class="stat-number">4+</span>
                        <span class="stat-title">سال سابقه</span>
                    </div>
                    <div class="stat-box">
                        <span class="stat-number">6 ماه</span>
                        <span class="stat-title">ضمانت خدمات</span>
                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}